<section class="py-7 overflow-hidden" id="places">
    <div class="container bg-offcanvas-gray-right">
      <div class="row gx-2 mb-2">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="bg-primary-gradient bg-offcanvas h-100">
            <div class="row g-0 justify-content-end">
              <div class="col-12">
                <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light"><img class="mb-5" src="assets/img/icon-location.svg" alt="..." />
                  <h2 class="mb-2 text-light">Popular places</h2>
                  <p>Enjoy the benefits of our packages to the<br class="d-none d-lg-block" />sites where our visitors have more fun. <br class="d-none d-lg-block" />Properly arranged with low costing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/agra.png" height="375" alt="..." />
            <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
              <div class="mt-auto px-4 mb-1">
                <h3 class="fs-1 fs-md-2 text-white">Agra</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/kualalumpur.png" height="375" alt="..." />
            <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
              <div class="mt-auto px-4 mb-1">
                <h3 class="fs-1 fs-md-2 text-white">Kuala Lumpur</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/munich.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/munich.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/paris.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Paris</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/vienna.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Vienna</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="bg-secondary-gradient h-100 d-flex align-items-center">
            <div class="text-light p-4 p-sm-6 p-lg-0 px-xxl-6">
              <p class="fs-1 px-4 mb-6">Wanna travel to the most thrilling spot on the planet? We've set a bunch of surprises for you.</p><a class="btn btn-lg text-light fs-2" href="#!" role="button">Click to view more<svg class="bi bi-arrow-right-circle ms-5" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>