<!-- ===============================================-->
   <!--    Main Content-->
   <!-- ===============================================-->
   <main class="main" id="top">
    <top-navigation></top-navigation>
    <router-outlet></router-outlet>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
      <footer></footer>
    <!-- <section> close ============================-->
    <!-- ============================================-->

  </main><!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->